:root {
    --paragraph-p1-semibold-font-family: "Inter", Helvetica;
    --paragraph-p1-semibold-font-weight: 600;
    --paragraph-p1-semibold-font-size: 24px;
    --paragraph-p1-semibold-letter-spacing: 0px;
    --paragraph-p1-semibold-line-height: 36px;
    --paragraph-p1-semibold-font-style: normal;
    --paragraph-p3-regular-font-family: "Inter", Helvetica;
    --paragraph-p3-regular-font-weight: 400;
    --paragraph-p3-regular-font-size: 16px;
    --paragraph-p3-regular-letter-spacing: -0.32px;
    --paragraph-p3-regular-line-height: 20px;
    --paragraph-p3-regular-font-style: normal;
  }
  